.p-block-text {
    display: flex;
    flex-direction: column;
}

.p-block-text .p-block-text__primary {
}

.p-block-text .p-block-text__secondary {
    color: rgba(0, 0, 0, 0.6);
    font-size: .75rem;
    line-height: 16px;
}