@namespace Masa.Blazor.Experimental.Components

<MTooltip Disabled="IsDisabled"
          Bottom="Bottom"
          Color="@TooltipColor"
          ContentClass="@TooltipClass"
          Left="Left"
          Right="Right"
          Top="Top"
          NudgeBottom="NudgeBottom"
          NudgeLeft="NudgeLeft"
          NudgeRight="NudgeRight"
          NudgeTop="NudgeTop">
    <ActivatorContent>
        <span class="d-inline-block text-truncate"
              style="width: 100%; cursor: auto; vertical-align: top"
              @ref="Ref"
              @attributes="@context.Attrs">
            @ChildContent
        </span>
    </ActivatorContent>
    <ChildContent>
        @if (string.IsNullOrWhiteSpace(Tooltip))
        {
            @ChildContent
        }
        else
        {
            @Tooltip
        }
    </ChildContent>
</MTooltip>