@inherits LayoutComponentBase

<MApp>
    <MAppBar Flat App Color="white" Class="m-bar--underline">
        <span>MASA.Framework</span>
        <MSpacer></MSpacer>
        <MButton Text>
            <a href="https://blazor.masastack.com/">About</a>
        </MButton>
    </MAppBar>
    <MNavigationDrawer Permanent class="mt-16" App>
        <MList Dense Nav>
            <MListItem Link Href="/">
                <MListItemContent>
                    <MListItemTitle>Home</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem Link Href="/actions-component">
                <MListItemContent>
                    <MListItemTitle>Actions</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem Link Href="/block-text-component">
                <MListItemContent>
                    <MListItemTitle>BlockText</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem Link Href="/datetime-picker-component">
                <MListItemContent>
                    <MListItemTitle>DateTimePicker</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem Link Href="/definitions-component">
                <MListItemContent>
                    <MListItemTitle>Definitions</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem Link Href="/popup-service">
                <MListItemContent>
                    <MListItemTitle>PopupService</MListItemTitle>
                </MListItemContent>
            </MListItem>
        </MList>
    </MNavigationDrawer>
    <MMain>
        <MContainer Fluid>
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </MContainer>
    </MMain>

    <MasaPopupProvider />
</MApp>