@page "/datetime-picker-component"

<h2>PDateTimePicker</h2>

<MRow>
    <MCol Cols="12">
        The type of Value supports
        <code>DateTime</code> and <code>DateTime?</code>.
    </MCol>
    <MCol Cols="12" Sm="6">
        <PDateTimePicker @bind-Value="_dateTime1"
                         Clearable
                         Dense
                         Label="DateTime"
                         Outlined
                         TimeZoneOffset="TimeSpan.FromHours(8)">
        </PDateTimePicker>
    </MCol>
    <MCol Cols="12" Sm="6">
        <PDateTimePicker @bind-Value="_dateTime2"
                         Clearable
                         Dense
                         Label="DateTime?"
                         Outlined
                         TimeZoneOffset="TimeSpan.FromHours(8)">
        </PDateTimePicker>
    </MCol>
</MRow>

<MDivider Class="my-2"></MDivider>

<h2>PDatePicker</h2>

<MRow>
    <MCol Cols="12">
        The type of Value supports
        <code>DateOnly?</code> and <code>DateOnly</code>(cannot be <code>Clearable</code>).
    </MCol>
    <MCol Cols="12" Sm="6">
        <PDatePicker @bind-Value="_date1"
                     Clearable
                     Dense
                     Label="DateOnly?"
                     Outlined>
        </PDatePicker>
    </MCol>
    <MCol Cols="12" Sm="6">
        <PDatePicker @bind-Value="_date2"
                     Clearable
                     Dense
                     Label="@("Value(DateOnly) can not be default(DateOnly.MinValue). Throw if clear.")"
                     Outlined>
        </PDatePicker>
    </MCol>
    <MCol Cols="12" Sm="6">
        <PDatePicker @bind-Value="_date3"
                     Clearable
                     DefaultSelectedValue="TodayDate"
                     Dense
                     Label="DefaultSelectedValue"
                     Outlined>
        </PDatePicker>
    </MCol>
    <MCol Cols="12" Sm="6">
        <PDatePicker @bind-Value="_dates1"
                     Clearable
                     Dense
                     Label="Range with non-null Value"
                     Outlined
                     Range>
        </PDatePicker>
    </MCol>
    <MCol Cols="12" Sm="6">
        <PDatePicker @bind-Value="_dates2"
                     Clearable
                     DefaultSelectedValue="@(new List<DateOnly>() { TodayDate.AddDays(-1), TodayDate })"
                     Dense
                     Label="Range with DefaultSelectedValue"
                     Outlined
                     Range>
        </PDatePicker>
    </MCol>
</MRow>


@code {
    private readonly DateOnly TodayDate = DateOnly.FromDateTime(DateTime.Now);

    private DateTime? _dateTime1;
    private DateTime _dateTime2;

    private DateOnly? _date1;
    private DateOnly _date2 = DateOnly.FromDateTime(DateTime.Now);
    private DateOnly? _date3;

    private List<DateOnly> _dates1 = new()
    {
        DateOnly.FromDateTime(DateTime.Now.AddDays(-1)),
        DateOnly.FromDateTime(DateTime.Now)
    };

    private List<DateOnly> _dates2;
}