@page "/"

<CopyableText>
    There is a text that can be copied.
</CopyableText>

<div style="width:100px">
    <EllipsisText>
        There is a text that can be ellipsis.
    </EllipsisText>
</div>
