@page "/"

<Actions>
    <Action Icon="mdi-eye-outline"
            Label="查看">
    </Action>
    <Action Icon="mdi-pencil-outline"
            Label="编辑">
    </Action>
    <Action Icon="mdi-delete-outline"
            Label="删除">
    </Action>
</Actions>

<CopyableText>
    There is a text that can be copied.
</CopyableText>

<div style="width:100px">
    <EllipsisText>
        There is a text that can be ellipsis.
    </EllipsisText>
</div>

<BlockText Major="Major Text" Minor="Minor Text">
</BlockText>